name: Lint Go Code
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repository
        uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
      - name: Lint
        uses: golangci/golangci-lint-action@v9.0.0
        with:
          version: v2.1.2
